<div class="user-bar">
  <% if user_signed_in? %>
    <%= current_user.email %>
    <%= button_to 'Sign out', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= button_to 'Sign in', new_user_session_path, method: :get %>
  <% end %>
</div>
